@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Inter";
}

.bgImg{
    background-image: url(Images/bg.jpg);
    background-size: cover; 
    background-position: center; 
}

/* navbar */

#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 30px 20px;
    width: 100%;
    top: 0;
    left: 0;
}
.nav-links {
    display: flex;
    align-items: center;
}

.nav-links a {
    margin-left: 15px; /* Adjust spacing between links */
    text-decoration: none;
    padding: 5px 20px;
    display: inline-block;
    font-weight: bold;
    color: #21282E;
    font-size: 16px;
}

.webLogo {
    max-height: 50px;
}
.jobPortalBtn {
    background-color: #43a724;
    border: 2px solid #43a724;
    color: #FFFFFF;
    border-radius: 50px;
    padding: 13px 20px;
    display: inline-block;
    min-width: 150px;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12);
}

.interneeLoginBtn {
    background-color: transparent;
    border: 2px solid #43a724;
    color: #43a724;
    border-radius: 50px;
    padding: 13px 20px;
    display: inline-block;
    min-width: 150px;
    font-family: "Inter";
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.04em;
    text-decoration: none;
    cursor: pointer;
}

/* Section 1 */
.aligning{
    width: 100%;
    padding-top: 35px;
    top: 0;
    left: 0;
}
.sec1Heading{
    font-size: 54px;
    letter-spacing: -0.05em;
    font-weight: bold;
}
.typing{
    font-size: 54px;
    color:#43a724;
    border-right: .15rem solid #43a724;
    width: 0;
    flex-wrap: wrap;
    padding-right: 30px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 6s steps(20, end) forwards;
}
@keyframes typing{
    0%{
        width: 0;
    }
    50%{
        width: 100%;
    }
}
.para{
    font-size: 20px;
    margin-bottom: 30px;
    line-height: 150%;
}
.sec1Logo {
    height: 60px; /* Adjust the height as needed */
    width: auto;  /* Maintain aspect ratio */
    margin: 10px; /* Optional: Add some margin between images */
}
.sec1Spantxt{
    font-family: Inter;
    font-style: italic;
    font-weight: 600;
    font-size: 13px;
    line-height: 24px;
    text-align: center;
    color: #22282E;
    display: flex;
    justify-content: start;
    align-items: center;
}


/* section2 */
.section2Icon {
    border-radius: 50%;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 68px;
    height: 68px;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec2heading{
    font-size: 48px;
    letter-spacing: -2px;
    font-family: "Inter";
    font-style: normal;
    font-weight: bold;
    letter-spacing: normal;
    color: #21282E;
}
.sec2para{
    font-size: 20px;
    letter-spacing: -0.3px;
    line-height: 160%;
    color: #4A5056;
    margin-bottom: 30px;
}
.strong{
    font-weight: bold;
}

/* carousel */
.carouselDiv{
    background-color: #43a724;
    padding: 10px;
    box-shadow: 0px 16px 24px -10px rgba(207, 138, 0, 0.6);
    border-radius: 20px;
}
.carouselTxt{
    display:inline-block;
    font-family: "Inter";
    font-style: normal;
    font-weight: bold;
    letter-spacing: normal;
    color: white;
}
.carouselBg{
    background-color: white;
    border-radius:12px;
}
.carouselCardTitle{
    font-size: 20px;
    letter-spacing: -1px;
    color: #21282E;
    font-weight: bold;
    text-align: center;
    padding: 15px;
}
.carouselCardTxt{
    font-size: 14px;
    letter-spacing: -1px;
    color: #21282E;
    text-align: center;
}
.btn-intern{
    border-radius: 10px;
    border: none;
    background-color: #43a724;
    color: #fff;
    text-align: center;
    padding: 7px;
}
.carouselBottomTxt{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 160%;
    text-align: center;
    letter-spacing: -0.3px;
    color: #FFFFFF;
}

/* Section3 */
.sec3Para{
    color: #717275;
    font-size: 20px;
    font-weight: 300;
}
.sec3Para strong{
    color: #717275;
    font-size: 20px;
    font-weight: bold;
}
.sec3Btn{
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
}
.sec3Btn:hover{
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    background-color: #8c52fe;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
}

/* cards */
.cardTitle{
    border-bottom: 1px solid #b2b3b4;
}
div.card{
    margin: 15px;
}
div.card:hover {
    margin: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}


/* blogs */
.blogBgColor{
    background-color: #e0e4e4;
}
.blogh1{
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    letter-spacing: -0.3px;
    color: #21282E;
}
.blogh2{
    font-family: "Inter";
    font-style: normal;
    font-weight: bold;
    letter-spacing: normal;
    color: #21282E;
    font-size: 32px;
}
.Blog{
    text-decoration: none;
    font-family: "Inter";
    font-style: normal;
    font-weight: bold;
    letter-spacing: normal;
    color: #21282E;
    margin: 0 0 20px 0;
    font-size: 25px;
    display: block;
}
.BlogPara{
    color: #717275;
    font-size: 20px;
    font-weight: 300;
}